<style>
.service-box {
    border: 1px solid grey;
    height: 50%;
}

#oai {
    background-image: url('img/harava.jpg');
    padding: 0px;
    background-size: cover;
}

#oai-color {
    background-color: #66000088;
    width: 100%;
    height: 100%;
    padding: 10px;
}

#oai-color:hover {
    background-color: #66000033;
}

#vertti {
    background-image: url('img/vertti.jpg');
    padding: 0px;
    background-size: cover;
}

#vertti-color {
    background-color: #00000088;
    width: 100%;
    height: 100%;
    padding: 10px;
}

#vertti-color:hover {
    background-color: #66000020;
}

#vpkpl {
    background-image: url('img/vpkpl.jpg');
    padding: 0px;
    background-size: cover;
}

#vpkpl-color {
    background-color: #00006640;
    width: 100%;
    height: 100%;
    padding: 10px;
}

#vpkpl-color:hover {
    background-color: #66000033;
}

#varia {
    background-image: url('img/varia4.png');
    padding: 0px;
    background-size: cover;
}
#varia-color {
    background-color: #D3D3D350;
    width: 100%;
    height: 100%;
    padding: 10px;
}

#varia-color:hover {
    background-color: #FFFFFF33;
}

#digi {
    background-image: url('img/digi.jpg');
    padding: 0px;
    background-size: cover;
}
#digi-color {
    background-color: #00000020;
    width: 100%;
    height: 100%;
    padding: 10px;
}

#digi-color:hover {
    background-color: #00006600;
}

#ritva {
    background-image: url('img/ritva.png');
    padding: 0px;
    background-size: cover;
}
#ritva-color {
    background-color: #00006660;
    width: 100%;
    height: 100%;
    padding: 10px;
}

#ritva-color:hover {
    background-color: #00006633;
}

h1 {
    font-family: tahoma;
    font-style: italic;
    color: white;
}

h2 {
    font-style: bold;
    font-size: 40px;
    color: white;
}

p {
    color: #FFFFFF99;
    font-style: italic;

}


</style>